*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgray;
    font-family: pixelll;
}

canvas {
    border: 0.4rem solid black;

}

.grid-container {
    display: grid;
    grid-template-rows: auto auto auto; 

    row-gap: 1rem;
}

.grid-container-alternative {
    display: grid;
    grid-template-columns: auto auto auto; 

    column-gap: 0.5rem;
}
#main-container {
    cursor: none;
}

/*#region Forms*/
.input {
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.25em 0.5em;
    background-color: rgb(78, 17, 17);
    border: 2px solid rgb(37, 8, 8);
    border-radius: 4px;
    text-align: center;
  }
  .input:focus {
    background-color: rgb(78, 17, 17);
    border: 2px dashed rgb(175, 38, 38);
    border-radius: 4px;
    border-radius: 10px;
    color: gray;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.radioBtn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 150%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radioBtn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(78, 17, 17);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radioBtn:hover input ~ .checkmark {
    background-color: rgb(48, 11, 11);
  }
  
  /* When the radio button is checked, add a blue background */
  .radioBtn input:checked ~ .checkmark {
    background-color: #070101;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.radioBtn input:checked ~ .checkmark:after {
    display: block;
  }

fieldset {
    margin: 0% 5% 2%;
    border: 0.2rem solid gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

legend {
    font-size: 150%;
    color: gray;
}

label {
    font-size: 100%;
    color: gray;
    margin: 0% 0%;
}


/*#endregion Forms*/


/*#region Scoreboard*/
.grid-container .scoreboard {
    display: grid;
    grid-template-areas:    
    'title title title set spt sps score scpt scps'
    'title title title set sat sas score scat scas';
    row-gap: 0.4rem;
    column-gap: 0.4rem;

    height: 90%;

}

.sc-default {
    border: 0.4rem solid black;
    background-color: darkred;
    color: grey;
}

.sc-pong {
    border: 0.4rem solid white;
    background-color: black;
    color: white;
}
.sc-tt {
    border: 0.4rem solid white;
    background-color: darkgreen;
    color: white;
}

.grid-container-alternative .scoreboard {
    display: grid;
    grid-template-areas:    
    'title title'
    'title title'
    'title title'
    'set set'
    'spt sps'
    'sat sas'
    'score score'
    'scpt scps'
    'scat scas';
}

.sc {
    text-align: center;
    vertical-align: middle;
    font-size: 200%;

}

.sc1 {
    grid-area: title;
}
.sc2 {
    grid-area: title;
}
.sc3 {
    grid-area: title;
}
.grid-container-alternative .scoreboard .sc4 {
    grid-area: set;
    border-top: 0.2rem dashed black;
}

.sc4 {
    grid-area: set;
}

.sc5 {
    grid-area: spt;
    justify-self: left;
}
.sc6{
    grid-area: sps;
}
.grid-container-alternative .scoreboard .sc7 {
    grid-area: score;
    border-top: 0.2rem dashed black;
}
.sc8 {
    grid-area: scpt;
    justify-self: left;
}
.sc9 {
    grid-area: scps;
}
.sc10 {
    grid-area: title;
}
.sc11 {
    grid-area: title;
}
.sc12 {
    grid-area: title;
}
.grid-container-alternative .scoreboard .sc13 {
    grid-area: set;
    border-top: 0.2rem dashed black;
}
.sc14 {
    grid-area: sat;
    justify-self: left;
}
.sc15 {
    grid-area: sas;
}
.grid-container-alternative .scoreboard .sc16 {
    grid-area: score;
    border-top: 0.2rem dashed black;

}
.sc17 {
    grid-area: scat;
    justify-self: left;
}
.sc18 {
    grid-area: scas;
}
/*#endregion Scoreborard*/

/*#region Messages*/
.messages {
    z-index: 1;
}

.message {
    position: absolute;
    display: grid;
    left: 35%;
    width:30%;
    top: 5%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.options__screen {
    position: absolute;
    display: grid;
    left: 35%;
    width:30%;
    top: 5%;

}

.message-tit {
    display: inline-flex;

    font-size: 200%;
    justify-self: center;
    text-align: center;
    margin: 5% 5%;
}

.message-txt {
    display: inline-flex; 
    font-size: 100%;
    justify-self: center;
    text-align: center;
    margin: 5% 5%;
}

.description_group {
    display: grid;
}

.message .description_group p {
    margin: 0% 10% 3%;
}

.message .description_group:last-child p {
    margin: 0% 10% 5%;
}
.message .description_group .button {
    margin: 0% 5%;
}

.button_group {
    display: grid;
}

.button {
    display:inline-flex;

    font-size: larger;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin: 5% 5%;
}

.msg-default {
    color: gray;
    border: 0.4rem solid black;
    background-color: darkred;
}
.msg-default .button {
    background-color: gray;
    color:darkred;
}
.msg-default .button:hover {
    box-shadow: 2px 2px  20px rgb(78, 77, 77);
}

.msg-pong {
    color: white;
    border: 0.4rem solid white;
    background-color: black;
}
.msg-pong .button {
    background-color: white;
    color:rgb(27, 23, 23);
}
.msg-pong .button:hover {
    box-shadow: 2px 2px  20px rgb(27, 23, 23);;
}
.msg-pong input {
    background-color: gray;
    color:rgb(27, 23, 23);
}

.msg-pong .radioBtn:hover input ~ .checkmark {
    background-color: gray;
  }
  
  .msg-pong .radioBtn input:checked ~ .checkmark {
    background-color: darkgrey;
  }

.msg-pong input:focus {
    background-color: white;
    color:rgb(27, 23, 23);
}

.msg-pong legend {
    color: white;
}

.msg-pong label {
    color: white;
}

.msg-pong .checkmark {
    background-color: white;
}

.msg-pong fieldset {
    border: 0.2rem solid white;
}

.msg-tt {
    color: white;
    border: 0.4rem solid white;
    background-color: darkgreen;
}
.msg-tt .button {
    background-color: white;
    color:darkgreen;
}

.msg-tt .button:hover {
    box-shadow: 2px 2px  20px gray;
}
.msg-tt input {
    background-color: gray;
    color:rgb(27, 23, 23);
}

.msg-tt input:hover {
    background-color: white;
    color:rgb(27, 23, 23);
}

.msg-tt input:focus {
    background-color: white;
    color:rgb(27, 23, 23);
}

.msg-tt .radioBtn:hover input ~ .checkmark {
    background-color: gray;
  }
  
  .msg-tt .radioBtn input:checked ~ .checkmark {
    background-color: black;
  }

.msg-tt legend {
    color: white;
}

.msg-tt label {
    color: white;
}

.msg-tt .checkmark {
    background-color: white;
}

.msg-tt fieldset {
    border: 0.2rem solid white;
}


/*#endregion Messages*/

/*#region Effects*/
.none {
    display: none;
}
.blurred {
    filter:blur(10px) grayscale(0.4);
    -webkit-filter:blur(10px) grayscale(0.4);
    
}

#main-container.blurred {
    cursor: default;
}

/*#endregion Effects*/

/*#region MediaQueries*/
/*#region Between 1200-800*/
@media only screen and (max-width: 1200px){
    .grid-container-alternative .scoreboard .sc {
        font-size: 120%;
    }
    .options__screen {
        position:fixed;
        top:0%;
        bottom:0%;
        left:0%;
        width:100%;
        gap: 0;
    }

    .message {
        position:fixed;
        top:0%;
        bottom:0%;
        left:0%;
        width:100%;
        gap: 0;
    }
    .message-tit {
        font-size:200%;
        margin: 0%;
    }
    .message-txt {
        font-size:100%;
        margin: 0%;
    }

    .options__screen .message-tit {
        font-size:125%;
        margin: 0%;
    }

    legend {
        font-size:125%;
    }
    .radioBtn {
        font-size:125%;
        margin-bottom: 0%;
    }
    fieldset {
        margin: 0%;
    }
    .checkmark {
        height: 20px;
        width: 20px;
    }
    .message .description_group p {
        margin: 0% 10% 3%;
    }
    
    .message .description_group:last-child p {
        margin: 0% 10% 5%;
    }
    .message .description_group .button {
        margin: 0% 5%;
    }

}
/*#endregion Between 1200-800*/
/*#region Between 800-300*/
@media only screen and (max-width: 800px) {
    .options__screen {
        position:fixed;
        top:0%;
        bottom:0%;
        left:0%;
        width:100%;
        gap: 0;
    }

    .message {
        position:fixed;
        top:0%;
        bottom:0%;
        left:0%;
        width:100%;
        gap: 0;
    }

    .sc {
        font-size: 80%;
    }

    .message-tit {
        font-size:150%;
        margin: 0%;
    }

    .options__screen .message-tit {
        font-size:150%;
        margin: 0%;
    }

    .message-txt {
        font-size:100%;
        margin: 0%;
    }
    legend {
        font-size:100%;
    }
    .radioBtn {
        font-size:100%;
        margin-bottom: 0%;
    }
    fieldset {
        margin: 0%;
    }
    .checkmark {
        height: 15px;
        width: 15px;
    }
    .message .description_group p {
        margin: 0% 10% 1%;
    }
    
    .message .description_group:last-child p {
        margin: 0% 10% 3%;
    }
    .message .description_group .button {
        margin: 0% 5%;
    }
}
/*#endregion Under 800*/

/*#endregion MediaQueries*/

/*#region Control */
.arrow {
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
    border: 0.4rem solid black;
    background-color: gray;
    opacity: 40%;
}
.control-arrow {
    font-size: 100%;
}

#arrowUp {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

#arrowDown {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
/*#endregion Control */