*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgray;
    font-family: pixelll;
}

canvas {
    border: 0.4rem solid black;
    cursor: none;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto auto; 

    row-gap: 1rem;
}

.grid-container-alternative {
    display: grid;
    grid-template-columns: auto auto auto; 

    column-gap: 0.5rem;
}

.input {
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.25em 0.5em;
    background-color: rgb(78, 17, 17);
    border: 2px solid rgb(37, 8, 8);
    border-radius: 4px;
    text-align: center;
  }
  .input:focus {
    background-color: rgb(78, 17, 17);
    border: 2px dashed rgb(175, 38, 38);
    border-radius: 10px;
    color: gray;
    text-align: center;
}

/*#region Scoreboard*/
.grid-container .scoreboard {
    display: grid;
    grid-template-areas:    
    'title title title set spt sps score scpt scps'
    'title title title set sat sas score scat scas';
    row-gap: 0.4rem;
    column-gap: 0.4rem;
    border: 0.4rem solid black;
    background-color: darkred;

    height: 90%;

}

.grid-container-alternative .scoreboard {
    display: grid;
    grid-template-areas:    
    'title title'
    'title title'
    'title title'
    'set set'
    'spt sps'
    'sat sas'
    'score score'
    'scpt scps'
    'scat scas';
    border: 0.4rem solid black;
    background-color: darkred;
}

.sc {
    text-align: center;
    vertical-align: middle;
    font-size: 200%;
    color: grey;
}

.sc1 {
    grid-area: title;
}
.sc2 {
    grid-area: title;
}
.sc3 {
    grid-area: title;
}
.grid-container-alternative .scoreboard .sc4 {
    grid-area: set;
    border-top: 0.2rem dashed black;
}

.sc4 {
    grid-area: set;
}

.sc5 {
    grid-area: spt;
    justify-self: left;
}
.sc6{
    grid-area: sps;
}
.grid-container-alternative .scoreboard .sc7 {
    grid-area: score;
    border-top: 0.2rem dashed black;
}
.sc8 {
    grid-area: scpt;
    justify-self: left;
}
.sc9 {
    grid-area: scps;
}
.sc10 {
    grid-area: title;
}
.sc11 {
    grid-area: title;
}
.sc12 {
    grid-area: title;
}
.grid-container-alternative .scoreboard .sc13 {
    grid-area: set;
    border-top: 0.2rem dashed black;
}
.sc14 {
    grid-area: sat;
    justify-self: left;
}
.sc15 {
    grid-area: sas;
}
.grid-container-alternative .scoreboard .sc16 {
    grid-area: score;
    border-top: 0.2rem dashed black;

}
.sc17 {
    grid-area: scat;
    justify-self: left;
}
.sc18 {
    grid-area: scas;
}
/*#endregion Scoreborard*/

/*#region Messages*/
.messages {
    z-index: 1;
}

.message {
    position: absolute;
    display: grid;
    left: 35%;
    width:30%;
    top: 5%;
    align-items: center;
    justify-content: center;
    border: 0.4rem solid black;
    background-color: darkred;
    flex-wrap: nowrap;
}

.message-tit {
    display: inline-flex;
    color: gray;
    font-size: 200%;
    justify-self: center;
    text-align: center;
    margin: 5% 5%;
}

.message-txt {
    display: inline-flex;
    color: gray;
    font-size: 100%;
    justify-self: center;
    text-align: center;
    margin: 5% 5%;
}

.description_group {
    display: grid;
}

.button_group {
    display: grid;
}

.message .button {
    display:inline-flex;
    background-color: gray;
    color:darkred;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin: 5% 5%;
}


/*#endregion Messages*/

/*#region Effects*/
.none {
    display: none;
}
.blurred {
    filter:blur(10px) grayscale(0.4);
    -webkit-filter:blur(10px) grayscale(0.4);
}

/*#endregion Effects*/

/*#region MediaQueries*/
/*#region Between 1200-800*/
@media only screen and (max-width: 1200px){
    .grid-container-alternative .scoreboard .sc {
        font-size: 120%;
    }
    .message {
        position:fixed;
        top:0%;
        bottom:0%;
        left:0%;
        width:100%;
        gap: 0;
    }
    .message-tit {
        font-size:350%;
        margin: 0%;
    }
    .message-txt {
        font-size:250%;
        margin: 0%;
    }
}
/*#endregion Between 1200-800*/
/*#region Between 800-300*/
@media only screen and (max-width: 800px) {
    .message {
        position:fixed;
        top:0%;
        bottom:0%;
        left:0%;
        width:100%;
        gap: 0;
    }

    .sc {
        font-size: 80%;
    }

    .message-tit {
        font-size:250%;
        margin: 0%;
    }
    .message-txt {
        font-size:150%;
        margin: 0%;
    }
}
/*#endregion Under 800*/

/*#endregion MediaQueries*/

/*#region Control */
.arrow {
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
    border: 0.4rem solid black;
    background-color: gray;
    opacity: 40%;
}
.control-arrow {
    font-size: 100%;
}

#arrowUp {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

#arrowDown {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
/*#endregion Control */