
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgray;
    font-family: pixelll;
}

canvas {
    border: 0.4rem solid black;
    cursor: none;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto; 

    row-gap: 1rem;
}

.scoreboard {
    display: grid;
    grid-template-areas:    
    'title title title set spt sps score scpt scps'
    'title title title set sat sas score scat scas';
    row-gap: 0.4rem;
    column-gap: 0.4rem;
    border: 0.4rem solid black;
    background-color: darkred;

    height: 90%;

}

.sc {
    text-align: center;
    vertical-align: middle;
    font-size: 200%;
    color: grey;
}

@media only screen and (max-width: 800px) {
    .sc {
      font-size: 80%;
    }
  }

  @media only screen and (max-width: 300px) {
    .sc {
      font-size: 20%;
    }
  }


.sc1 {
    grid-area: title;
    vertical-align: middle;
}
.sc2 {
    grid-area: title;
}
.sc3 {
    grid-area: title;
}
.sc4 {
    grid-area: set;
}
.sc5 {
    grid-area: spt;
    color: grey;
}
.sc6{
    grid-area: sps;
}
.sc7 {
    grid-area: score;
}
.sc8 {
    grid-area: scpt;
}
.sc9 {
    grid-area: scps;
}
.sc10 {
    grid-area: title;
}
.sc11 {
    grid-area: title;
}
.sc12 {
    grid-area: title;
}
.sc13 {
    grid-area: set;
}
.sc14 {
    grid-area: sat;
}
.sc15 {
    grid-area: sas;
}
.sc16 {
    grid-area: score;
}
.sc17 {
    grid-area: scat;
}
.sc18 {
    grid-area: scas;
}
